@media (max-width: 991.98px) {
  .app-container {
    margin: 0;
    padding: 0;
  }
}

.app-container .content {
  min-height: 80vh; /* Ensure content takes up the majority of the viewport height */
}

footer {
  margin-top: auto; /* Ensure footer stays at the bottom */
}
