.about-container {
  padding-right: 40px;
  padding-left: 40px;
}

.penjualan-container {
  padding-right: 70px;
  padding-left: 40px;
}

.testi-container {
  padding-right: 70px;
  padding-left: 40px;
}