.reset-container {
  width: 500px;
  padding-top: 100px;
}

h1 {
  font-size: 32px;
  cursor: pointer;
}

h1 span {
  color: rgba(226,23,70,0.8);
}

button.btn-link {
  padding: 0;
  border: none;
  color: #007bff;
  text-decoration: none;
  background: none;
}

button.btn-link:hover {
  color: #0056b3;
  text-decoration: underline;
}